// src/app/recommendations/recommendations.component.scss

.recommendations-container {
    padding-left: 80px;
    padding-right: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    max-width: 1500px;
    margin: 20 auto;
    margin-left: 220px;  // Adjust the main content to the right of the side panel
    width: calc(100% - 220px);
    h2 {
      text-align: center;
      color: #333;
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    ul {
      list-style-type: none;
      padding: 0;
  
      li {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-bottom: 20px;
        transition: transform 0.2s;
  
        &:hover {
          transform: scale(1.02);
        }
  
        h3 {
          color: #2c3e50;
          font-size: 20px;
          margin-bottom: 10px;
        }
  
        p {
          color: #7f8c8d;
          font-size: 16px;
          margin: 5px 0;
  
          strong {
            color: #34495e;
          }
        }
  
        // Genre pills
        .genres {
          display: flex;
          flex-wrap: wrap;
  
          span {
            background-color: #3498db;
            color: #fff;
            padding: 5px 10px;
            border-radius: 20px;
            font-size: 14px;
            margin-right: 10px;
            margin-top: 5px;
          }
        }
  
        // Cast members list
        .cast {
          display: flex;
          flex-wrap: wrap;
  
          span {
            background-color: #2ecc71;
            color: #fff;
            padding: 5px 10px;
            border-radius: 20px;
            font-size: 14px;
            margin-right: 10px;
            margin-top: 5px;
          }
        }
      }
    }
  
    // Error message style
    .error-message {
      color: red;
      font-size: 18px;
      text-align: center;
      margin-top: 20px;
    }
  
    // Button style for navigation
    button {
      display: block;
      margin: 20px auto;
      padding: 10px 20px;
      background-color: #2980b9;
      color: white;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
  
      &:hover {
        background-color: #3498db;
      }
    }
  }
  
  .app-container {
    display: flex;
  }