/* Container for the entire application */
.app-container {
  display: flex;
}

/* Side Panel Styling */
app-side-panel {
  flex: 0 0 220px; /* Fixed width for the side panel */
  /* You can add styles specific to your side panel here */
}

/* Main Content Styling */
.home-container {
  flex-grow: 1; /* Take up the remaining space */
  padding: 20px;
  background-color: #f9f9f9;
  max-width: 1500px;
  margin: 0 auto;
  text-align: left;

  h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  li {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.2s;
    width: 100%;

    &:hover {
      transform: scale(1.02);
    }

    .movie-card {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .movie-details {
        display: flex;
        gap: 20px;

        .poster {
          flex: 0 0 10px;
          max-width: 200px;
          height: auto;
          border-radius: 10px;
          object-fit: cover;
        }

        .movie-info {
          flex-grow: 1;
          display: flex;
          flex-direction: column;

          strong {
            color: #2c3e50;
            font-size: 20px;
            margin-bottom: 10px;
          }

          p {
            color: #7f8c8d;
            font-size: 16px;
            margin: 5px 0;
          }
        }
      }

      .action-section {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;

        .action-buttons {
          display: flex;
          gap: 10px;

          button {
            padding: 8px 15px;
            background-color: #2980b9;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #3498db;
            }
          }

          .not-seen {
            background-color: #e74c3c;

            &:hover {
              background-color: #c0392b;
            }
          }
        }

        .rating-section {
          display: flex;
          align-items: center;
          gap: 10px;

          label {
            font-size: 16px;
            color: #34495e;
          }

          select {
            padding: 5px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ccc;
          }

          .submit-rating {
            padding: 8px 12px;
            background-color: #2ecc71;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #27ae60;
            }
          }
        }
      }
    }
  }

  .pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ddd;

    button {
      padding: 8px 16px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:disabled {
        background-color: #ccc;
      }

      &:hover:not(:disabled) {
        background-color: #0056b3;
      }
    }

    span {
      font-size: 1.1em;
      color: #2c3e50;
    }
  }
}
